<h2>Login</h2>
<hr>
<form action="/api/sessions/login" method="post">
    <input type="email" name="email" placeholder="Correo electronico">
    <input type="password" name="password" placeholder="Contraseña">
    <input type="text" name="web" value="web" hidden>
    <br><br>
    <input type="submit" value="login">

</form>