
<div>
    <h3>LISTA DE PRODUCTOS</h3>

   <hr>
   <input type="text" value="{{carrito._id}}" hidden id="carrito">

   <ul>
        {{#each productos}}
        <li>
            <strong>{{description}}</strong> - precio: {{price}} <button onclick="Agregar Producto"></button>
        </li>

        {{/each}}

   </ul>

   <br>
   <br>

   <script src="/js/productos.js"></script>