/* Estilos para los mensajes del usuario */
.mymessage {
    background-color: #4caf50;
    color: #1a1818;
    text-align: right;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* Estilos para los mensajes de otros usuarios */
.othermessage {
    background-color: #2a3b49;
    color: #141414;
    text-align: left;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* Estilos para el campo de entrada de texto */
#chatBox {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #3d3232;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}










/* Estilos para el mensaje de registro */
.swal-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

/* Estilos para el mensaje de registro */
.swal-text {
    text-align: center;
}

/* Estilos para el mensaje de registro */
.swal-input {
    width: 100%;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

/* Estilos para el botón de registro */
.swal-button {
    margin-top: 10px;
}

